{% extends 'layout.html' %}
{% block content %}

<h2>Add a Review: </h2>
<form action="{{ url_for("add_review")}}" method="post" enctype="multipart/form-data">

<label for="book">Book: </label>
<select name="book" id='book'>
  {% for book in query_books %}
    <option value={{book.book_id}}>{{book.title}}</option>
  {% endfor %}
</select>

</br></br>
<label for="review">Review: </label></br>
<textarea id="review" name="review" placeholder="Review"></textarea> </br></br>

<button type="submit">Submit</button></br>
  
</form>
<script src="script.js"></script>
{% endblock %}