{% extends 'layout.html' %}
{% block content %}

<h2>Add a book: </h2>
{% if message  %}
<p>Error: {{ message }}</p>
{% endif %}
<form action="{{ url_for("add_book")}}" method="post" enctype="multipart/form-data">

<label for="title">Title: </label></br>
<input type="text" id="title" name="title" placeholder="title"> </br></br>

<label for="author">Author: </label></br>
<input type="text" id="author" name="author" placeholder="author"> </br>
</br>
  
<label for="genre">Genre: </label></br>
<input type="text" id="genre" name="genre" placeholder="genre"> </br></br>

<label for="summary">Summary: </label></br>
<textarea id="summary" name="summary" placeholder="short description"></textarea></br></br>

<input type="file" name="image"> </br>


<button type="submit">Submit</button></br>
</form>
{% endblock %}