{% extends 'layout.html' %}
{% block content %}

<h2>Edit {{ query_book.title }}: </h2>

<form action="/update/{{ids}}" method="post" enctype="multipart/form-data">

<label for="title">Title: </label></br>
<input type="text" id="title" name="title" value="{{ query_book.title }}"> </br></br>

<label for="author">Author: </label></br>
<input type="text" id="author" name="author" value="{{ query_book.author }}"> </br>
</br>
  
<label for="genre">Genre: </label></br>
<input type="text" id="genre" name="genre" value="{{ query_book.genre }}"> </br></br>

<label for="summary">Summary: </label></br>
<textarea id="summary" name="summary" >{{ query_book.summary }}</textarea></br></br>
  
{% if query_book.get_url() is string %}
          {% set url =  "/static/uploads/" + query_book.get_url() %}
          <img src= {{url}} alt="my image" width="120" height="180" />
          {% endif %}
<input type="file" name="image"> </br></br>

<button type="submit" name="edit_button" value="Save">Save</button>
 
<button type="delete" name="edit_button" value="Delete">Delete</button></br>
</form>
{% endblock %}