{% extends 'layout.html' %}
{% block content %}

<h2>Edit {{ book.title }}: </h2>

<form action="/update/{{ids}}" method="post" enctype="multipart/form-data">

<label for="title">Title: </label></br>
<input type="text" id="title" name="title" value="{{ book.title }}"> </br></br>

<label for="author">Author: </label></br>
<input type="text" id="author" name="author" value="{{ book.author }}"> </br>
</br>
  
<label for="genre">Genre: </label></br>
<input type="text" id="genre" name="genre" value="{{ book.genre }}"> </br></br>

<label for="summary">Summary: </label></br>
<input type="long_text" id="summary" name="summary" value="{{ book.summary }}"> </br></br>

<button type="submit" name="edit_button" value="Save">Save</button></br>
 
<button type="submit" name="edit_button" value="Delete">Delete</button></br>
</form>
{% endblock %}